body{
	margin: 0;
	padding: 0;
	text-align: center;
	background: url(realtor-client-shaking-hands-agreement_23-2147764169.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
img{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0.5px solid #ddd;
	border-radius: 10px;
	padding: 0.5px;
	width: 300px;
}
.home-title{
	margin-top: 10px;
	color: white;
	transition: all 1s ease-in-out;
	background-color: maroon;
}
.home-title h1{
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 32px;
}
.home-title h2{
	font-size: 16px;
	margin-top: 10px;
}
form .submit{
	background: black;
	border-color: black;
	border-radius: 10px;
	font-size: 25px;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	height: 50px;
	margin-bottom: 10px
}
form .submit:hover{
	background-color: #fcae9a;
	cursor: pointer;
}
